html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*************** HEADER *****************/

.header-container {
  background: linear-gradient(to right, rgb(14, 14, 246),rgb(236, 163, 5));
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.header-logo {
  width: 100px;
  height: auto;
}

.header-text {
  font-family: Futura;
  font-weight: bold;
  font-size: 28px;  
  color: rgb(251, 15, 15);
}

span.Bull {
  color: rgb(0, 255, 0);
}

span.Trade {
  color: rgb(249, 27, 27);
}

.right-links {
  font-size: 20px;
  display: flex;
  gap: 60px;
  margin-right: 150px;
}

a {
  color: black;
  text-decoration: none;
}

button:hover { /* Shows a background color of a button while hovering over it */
  background-color: #6145af;
}

/**************** HERO ********************/

.hero-container {
  background: linear-gradient(to right, rgb(14, 14, 246),rgb(236, 163, 5)); /* Creates a gradient background between 2 chosen colors */
  min-height: 500px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left-hero {
  width: 475px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
  margin-bottom: -10px;
}

.hero-secondary-text {
  width: 465px;
  line-height: 26px; /* Adds spacing between lines with the text */
  font-size: 20px;
  color: #E5E7EB;
  gap: 50px;
  font-family: Arial;
}

.sign-up-button {
  font-size: 18px;
  height: 40px;
  width: 125px;
  border-radius: 7px;
  border: none;
  color: #F9FAF8;
  background-color: #6739e6;
  border: 1px solid rgb(9, 8, 8);
}

.img-placeholder {
  width: 510px;
  height: 255px;
  margin: 5px;  /* To stay in full display when minimizing the size of the page*/
  border-radius: 20px;
  border-style: unset;
}

/********************** CONTENT **********************/

.information-container {
  background: linear-gradient(to right, rgb(33, 223, 179),rgb(15, 100, 196));
  height: 140px;
  display: flex;
  justify-content: center; 
  align-items: center;
  border-top: 2px solid rgb(27, 96, 96);
  border-top-style: groove;
}

#information-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: bolder;
}

.content-container {
  background: linear-gradient(to right,  rgb(33, 223, 179),rgb(15, 100, 196));
  min-height: 500px;    /*Increases the height of the container while resizing the page due to wrapping of items*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
  flex: 1 0 auto;  /*Makes sure footer always at the bottom for every browser*/
}

.section-one,
.section-two,
.section-three,
.section-four {
  margin-bottom: 5px;
}

.image {
  border: 4px solid #153364;
  border-radius: 15px;
  width: 400px;
  height: auto;
  border-style: outset;
}

.text-one,
.text-two,
.text-three,
.text-four {
  font-size: 20px;
  text-align: center;
  width: 400px;
  margin-top: 6px;
} 

/**************************** INSPIRING QUOTE SECTION ******************/

.quote-author-container {
  background: linear-gradient(to right, rgb(15, 100, 196), rgb(33, 223, 179));
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid rgb(27, 96, 96);
  border-top-style: groove;
  border-bottom: 2px solid rgb(27, 96, 96);
  border-bottom-style: groove;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#quote {
  width: 780px;
  font-size: 36px;
  font-weight: 250;
  color: #1F2937;
}

.author-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#author {
  font-size: 24px;
  font-weight: 600;
  margin-left: 280px;
}

/************************** NEWSLETTER ******************/

.sign-up-container {
  background: linear-gradient(to right, rgb(14, 14, 246),rgb(236, 163, 5));
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-border {
  background-color: #9d8eeb;
  border: 2px solid black;
  width: 1000px;
  min-height: 160px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.heading {
  color: black;
  font-size: 24px;
  margin-bottom: 3px;
}

.description-text {
  color: black;
  font-size: 18px;
  width: 500px;
}

.button-right {
  font-size: 18px;
  height: 40px;
  width: 125px;
  border-radius: 7px;
  border: 1px solid rgb(9, 8, 8);
  color: #F9FAF8;
  background-color: #6739e6;
  margin: 10px;
}

/****************** FOOTER ******************/

.footer-container {
  background-color: #1F2937;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(73, 23, 154), rgb(105, 105, 235));
  border-top: 2px solid rgb(34, 47, 146);
  border-top-style: groove;
}

.footer {
  font-size: 18px;
  color: black;
  flex-shrink: 0;
}

